body {
    background: black;
    font-family: 'Anonymous Pro', monospace;
    margin: 0px;
}

header {
    border-bottom: 1px solid black;
    background: linear-gradient(  #D2FFA4,#4C9600);
    text-align: center;
    height: 60px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    color: #333333;
    font-size: 15px;
}

label {
    color: #4C9600;
}

.audio-source {
    display:none;
}

.audio-source.current-source {
    display: block;
}

.grid-block {
    float: left;
    margin: 50px;
}

#settings {
    border: 1px solid #81FF00;
    background-color: black;
    color: #4C9600;
    padding: 20px;
    margin: 50px;
    border: 2px solid #4C9600;
    background: black;
    width: 30%;
}

#sound-renderer {
    text-align: center;
}

.setup-config-field {
    padding: 10px;
}

#debug {
    color: white;
}

#upload-audio {
    display: none;
}