body {
    background: black;
    font-family: 'Anonymous Pro', monospace;
    margin: 0px;
}

header {
    border-bottom: 1px solid black;
    background: linear-gradient(  #D2FFA4,#4C9600);
    text-align: center;
    height: 100px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    color: #333333;
}

label {
    color: #4C9600;
}

.audio-source {
    display:none;
}

.audio-source.current-source {
    display: block;
}

.grid-block {
    float: left;
    padding: 20px;
    margin: 50px;
}

#controls {
    border: 1px solid #81FF00;
}

#sound-renderer {
    text-align: center;
}

.setup-config-field {
    padding: 10px;
}